<body>
  <header><link rel="stylesheet" type="text/css" href="/stylesheets/addbook.css" /></header>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button> -->
     <!--  <a class="navbar-brand" href="#"><img src="Logo.jpg" height="400%" width="10%" ></a> -->
      
        <p style="font-size: 300%;" style="color: white;"> Library Management System </p>
      
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> <button class="button" onclick="signout()"><span class="glyphicon glyphicon-log-in"></span>&nbsp Sign-Out</button></a></li>
        <!-- <li><a href="#"> <button class="button" onclick="signout()"><span class="glyphicon glyphicon-log-in"></span>&nbsp Sign-Up</button></a></li> -->
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidebar">
      <center><img src="images/2.png" height="100%" width="100%"></center>
        <center><p style="color: white;">Hello User</p></center>
      
         <a href="/show"><i class="fas fa-table"></i>Dashboard</a>  
        <a href="/book"><i class="fas fa-table"></i>Add Book</a>
        <a href="/student"><i class="fas fa-table"></i>Add Student</a>
        <a href="/bookrenderissue"><i class="fas fa-table"></i>Book Issue</a>
        <a href="/book/listall"><i class="fas fa-cogs"></i>View Book</a>
        <a href="/student/listall"><i class="fas fa-info"></i>View Student</a>
        <a href="/bookanalytics"><i class="fas fa-cogs"></i>Book Analytics</a>
        <a href="/studentanalytics"><i class="fas fa-info"></i>Student Analytics</a>
    
    </div>

    <div class="col-sm-10 text-left"><br>
        <!-- <p style="font-size: 100%;">Library Management System</p> -->
        <b style="font-size: 50px;">Add Student</b> 
      <div class="nav navbar-nav navbar-right">
        <form action="" style="font-size: large;">
          <input type="text" placeholder="Search book" id="search">
          <button type="submit" onclick="search1()"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <hr>
      <div style="margin-left:330px;background-color:white;margin-top:15px;padding:20px" class="col-md-6 offset-md-3">
        <!-- {{{body}}} -->
    </div>
    <h3>
        <div style="margin-left:0px;background-color:white;margin-top:15px;padding:20px" class="col-md-6 offset-md-3">
        

{{!-- <form action="/list" method="POST" autocomplete="off"> --}}
<div class="form-group">
    <label style="font-size: large;">Name</label>
    <input type="text" class="form-control" name="name" placeholder="Name">
</div>
<div class="form-group">
    <label style="font-size: large;">Roll-No</label>
    <input type="text" class="form-control" name="roll_no"  placeholder="Roll_No">
</div>
<div class="form-row">
    <div class="form-group md-6">
        <label style="font-size: large;">Branch</label>
        <input type="text" name="branch" placeholder="Branch" class="form-control">
        
     </div>
    <div class="form-group md-6">
        <label style="font-size: large;">No. Of Books</label>
        <input type="Number" name="books" placeholder="No. Of Books"  class="form-control">
    </div>
</div>

<div class="form-group">
    <button type="submit" class="btn btn-info" onclick="add()"><i class="fa fa-database"></i>&nbsp;&nbsp;Submit</button>
    <a href="/student/listall" class="btn btn-danger">
        <i class="fa fa-list-alt"></i>&nbsp;&nbsp;View All
    </a>
</div>
<script>
 function add(){
     console.log("ghndgb");
            console.log(document.getElementsByName("name"))
        var name = document.getElementsByName("name")[0].value
       // console.log(book_id);
        var roll_no = document.getElementsByName("roll_no")[0].value
        var branch = document.getElementsByName("branch")[0].value
        var books = document.getElementsByName("books")[0].value
        var xmlHttpRequest = new XMLHttpRequest()
         xmlHttpRequest.onreadystatechange = function () {
            if (this.readyState === 4) {
                if (this.status === 200) {
                   // document.cookie = "authorization=" + this.getResponseHeader("authorization")
                    console.log("add success")
                   window.location = "/student/listall"
                }
                else {
                    document.getElementById("error").innerText = JSON.parse(this.responseText).message
                }
            }
        }
        xmlHttpRequest.open("POST","/student/add", true)
        xmlHttpRequest.setRequestHeader("Content-Type", "application/json")
        xmlHttpRequest.send(JSON.stringify({ name: name, roll_no: roll_no, branch: branch, books: books }))
    }
     function signout() {
          console.log("Inside hbs signout");
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                  document.cookie = "authorization=" + this.getResponseHeader("authorization") 
                    window.location = "/";
                }
            }
        }
        xhttp.open("POST", "/librarian/signout", true);
         console.log(getCookie("authorization"));
        xhttp.setRequestHeader("Authorization", getCookie("authorization"));
        xhttp.send();
    }
     function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
function search1(){
console.log("inside search");
var record=document.getElementById('search').value
window.open("http://52.14.235.218:3000/book/search/"+record)
}
</script>

{{!-- </form> --}}
    </div>
      <h3></h3>
      <p></p>
    </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#"><button class="button">About Us</button></a></li>
      <li><a href="#"><button class="button">Contact Us</button></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right"><br>
      <li style="color: white;" style="font-size: 100%;">This site is managed and &copy; by Team2.</li>
    </ul>
    </footer>

</body>
