<body onload="adddata()">
<header ><link rel="stylesheet" type="text/css" href="/stylesheets/addbook.css" /></header>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button> -->
     <!--  <a class="navbar-brand" href="#"><img src="Logo.jpg" height="400%" width="10%" ></a> -->
      
        <p style="font-size: 300%;" style="color: white;"> Library Management System </p>
      
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> <button class="button"><span class="glyphicon glyphicon-log-in"></span>&nbsp Sign-Out</button></a></li>
        <!-- <li><a href="#"> <button class="button"><span class="glyphicon glyphicon-log-in"></span>&nbsp Sign-Up</button></a></li> -->
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidebar">
      <img src="images/2.png" height="100%" width="100%">
        <center><p style="color: white;">Hello User</p></center>
      <div class="sidebar">
         <a href="/show"><i class="fas fa-table"></i>Dashboard</a>  
        <a href="/book"><i class="fas fa-table"></i>Add Book</a>
        <a href="/student"><i class="fas fa-table"></i>Add Student</a>
        <a href="/bookrenderissue"><i class="fas fa-table"></i>Book Issue</a>
        <a href="/book/listall"><i class="fas fa-cogs"></i>View Book</a>
        <a href="/student/listall"><i class="fas fa-info"></i>View Student</a>
        <a href="/bookanalytics"><i class="fas fa-cogs"></i>Book Analytics</a>
        <a href="/studentanalytics"><i class="fas fa-info"></i>Student Analytics</a>
    </div>
    </div>

    <div class="col-sm-10 text-left"> <br>
      <!-- <p style="font-size: 100%;">Library Management System</p> -->
      <b style="font-size: 50px;">Issue Book</b> 
      <div class="nav navbar-nav navbar-right">
        <form action="/book/search/" method="GET" style="font-size: large;">
          <input type="text" name="" placeholder="Search.." id="search">
          <button type="submit" onclick="search1()"><i class="fa fa-search"></i></button>
         </form> 
      </div>
      <hr>
      <div style="margin-left:330px;background-color:white;margin-top:15px;padding:20px" class="col-md-6 offset-md-3"></div>
      
        <div style="margin-left:0px;background-color:white;margin-top:15px;padding:20px" class="col-md-6 offset-md-3">
        
<label for="Book">Choose a Book for issue:</label>
<select id="selectNumber">
</select><br>
{{!-- <form action="/booklist" method="POST" autocomplete="off"> --}}
<div class="form-group">
    {{!-- <label style="font-size: large;">Book Id</label>
    <input type="text" class="form-control" name="book_id"  placeholder="Name"> --}}
</div><br><br>
<label for="Student">Choose a Name of the Student:</label>
<select id="selectstudent" onclick="adddata1()">
</select><br>
<div class="form-group">
    {{!-- <label style="font-size: large;">Student Id</label>
    <input type="text" class="form-control" name="student_id"  placeholder="Name"> --}}
</div><br><br>
{{!-- <div class="form-row">
    <div class="form-group md-6">
        <label style="font-size: large;">Author Name</label>
        <input type="text" name="author_name" placeholder="Author Name" class="form-control">
        
     </div>
    <div class="form-group md-6">
        <label style="font-size: large;">Quantity</label>
        <input type="Number" name="quantity" placeholder="Quantity"  class="form-control">
    </div> --}}
{{!-- </div> --}}

<div class="form-group">
    <button type="submit" class="btn btn-info" onclick="addd()"><i class="fa fa-database"></i>&nbsp;&nbsp;Submit</button>
    <a href="/show" class="btn btn-danger">
        <i class="fa fa-list-alt"></i>&nbsp;&nbsp;View All
    </a>
</div>
<script>
   var xmlHttpRequest = new XMLHttpRequest()
    function adddata() {
             var select = document.getElementById("selectNumber"); 
             console.log("inside addata dfunction")
        xmlHttpRequest.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
         //  {{!-- document.cookie = "authorization=" + this.getResponseHeader("authorization") --}}
            var result = this.responseText
            var obj = JSON.parse(this.responseText);
            for(var i = 0; i < obj.length; i++) {
            var opt = obj[i];   // get book 1 by 1 
            console.log(obj)
            var el = document.createElement("option");
            el.text = opt.name;
            el.value = opt._id;

    select.add(el);
        }
    } 
    }
    xmlHttpRequest.open("GET", "/issuebook", true);
    xmlHttpRequest.send();
};
 function adddata1() {
             var selectstudent = document.getElementById("selectstudent"); 
             console.log("inside student")
        xmlHttpRequest.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
       //    document.cookie = "authorization=" + this.getResponseHeader("authorization")
            var result = this.responseText
            var obj1 = JSON.parse(this.responseText);
            for(var i = 0; i < obj1.length; i++) {
            var opt1 = obj1[i];   // get book 1 by 1 
            console.log(obj1)
            var el = document.createElement("option");
            el.text = opt1.name;
            el.value = opt1._id;
    selectstudent.add(el);
        }
    } 
    }
    xmlHttpRequest.open("GET", "/studentissue", true);
    xmlHttpRequest.send();
};
 function addd(){
           // console.log(document.getElementsByName("book_id"))
        var book_id = document.getElementById("selectNumber").value
        console.log(book_id);
        var student_id = document.getElementById("selectstudent").value
         xmlHttpRequest.onreadystatechange = function () {
            if (this.readyState === 4) {
                if (this.status === 200) {
                 //  document.cookie = "authorization=" + this.getResponseHeader("authorization") 
                    console.log("add success")
                   window.location = "/show"
                }
                else {
                    document.getElementById("error").innerText = JSON.parse(this.responseText).message
                }
            }
        }
        xmlHttpRequest.open("POST","/issue", true)
        xmlHttpRequest.setRequestHeader("Content-Type", "application/json")
        xmlHttpRequest.send(JSON.stringify({ bookID : book_id, studentID : student_id }))
    }

    function search1(){
console.log("inside search");
var record=document.getElementById('search').value
//var xmlHttpRequest = new XMLHttpRequest()
window.open("http://localhost:3000/book/search/"+record);
}
</script>
{{!-- </form> --}}
    </div>
      <h3></h3>
      <p></p>
    </div>
    </div>
</div>

<footer class="container-fluid text-center">
  <ul class="nav navbar-nav navbar-left">
    <li><a href="#"><button class="button">About Us</button></a></li>
    <li><a href="#"><button class="button">Contact Us</button></a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right"><br>
    <li style="color: white;" style="font-size: 100%;">This site is managed and &copy; by Team2.</li>
  </ul>
  </footer>

</body>